* {
	font-family: Arial,Helvetica,sans-serif;
	padding: 0px;
	margin: 0px;
}

.inicio li a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    letter-spacing: .100em;
    text-decoration: none;
    color: white;
    display: block;
    padding: 15px;

} 
.Barra {
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 10px;
}
li{

    float: left;
    left: 10%;
}

.form-register {

width: 400px;
background: #24303c;
padding: 30px;
margin: auto;
margin-top: 100px;
border-radius: 4px;
font-family: 'Calibri';
color: white;
box-shadow: 7px 13px 37px #000;
}
.form-register h4{

    font-size: 22px;
    margin-bottom: 20px;
}

body{
background-image: url('fondo.jpg');

}

.controls{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid#ed1d2d;
    font-family: 'Calibri';
    font-size: 18px;
    color: white;
}

.form-register p{

    height: 40px;
    text-align: center;
    font-size: 18px;
line-height: 40px;
}

.form-register a{
    color: white;
    text-decoration: none;
}
.form-register a:hover {
color: white;
text-decoration: underline;
}

.form-register .botons{

width: 100%;
background: #ed1d2d;
border: none;
padding: 12px;
color: white;
margin: 16px 0;
font-size: 16px;

}

.iconos p{
color: white;

}